## Icebreaker: Using a decision tree to predict the type of computer a student owns.

## Importing libraries

In [11]:
from sklearn import tree
import numpy as np
import pandas as pd 

from IPython.display import display, Image

## Importing dataset

In [12]:

in_file = 'students.csv'
students = pd.read_csv(in_file)

print("Number of students: {}".format(len(students)))

display(students.head(5))

Number of students: 2

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/10/2017 22:31:09,sdf,dg,sdg,1,1,2,2,1,mac
1,2/10/2017 22:31:24,xcv,xz,xcv,1,2,2,1,1,mac

## Separating test dataset

In [31]:
train_data = students[(students.name != 'ryan') & (students.name != 'tom') & (students.name != 'sara')]
test_data = students[(students.name == 'ryan') | (students.name == 'tom') | (students.name == 'sara')]

print("Training dataset size:{}".format(len(train_data)))
display(train_data.head(1))

print("Testing dataset size:{}".format(len(test_data)))
display(test_data.head(1))

Training dataset size:1

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
1,2/10/2017 22:31:24,xcv,xz,xcv,1,2,2,1,1,mac

Testing dataset size:1

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/10/2017 22:31:09,sdf,dg,sdg,1,1,2,2,1,mac

## Remove columns

In [32]:

train_data = train_data.drop(['Timestamp', 'name','why_nanodegree','something_interesting'], axis=1)

display(train_data.head(5))

   price  configurations  gaming   security  designing type_of_computer
1      1               2        2         1          1              mac

## Separating the target variable - training data

In [33]:
train_target = train_data['type_of_computer']
train_predictors = train_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(train_target)))
display(train_target.head(5))

print("\nPredictor dataset size:{}".format(len(train_predictors)))
display(train_predictors.head(1))

Target dataset size:1

1    mac
Name: type_of_computer, dtype: object

Predictor dataset size:1

   price  configurations  gaming   security  designing
1      1               2        2         1          1

## Separating the target variable - test data

In [34]:
test_target = test_data['type_of_computer']
test_predictors = test_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(test_target)))
display(test_target.head(5))

print("\nPredictor dataset size:{}".format(len(test_predictors)))
display(test_predictors.head())

Target dataset size:1

0    mac
Name: type_of_computer, dtype: object

Predictor dataset size:1

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
0,2/10/2017 22:31:09,sdf,dg,sdg,1,1,2,2,1

## Building the Decision Tree Classifier

In [35]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_predictors, train_target)

## Retrieving test data

In [36]:
print("\nStudent test data:{}".format(len(test_predictors)))
display(test_predictors.head(3))
student_test_data_final = [test_predictors]

Student test data:1

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
0,2/10/2017 22:31:09,sdf,dg,sdg,1,1,2,2,1

## Making predictions

In [37]:
student_test_data = [[2, 2, 2, 2, 2], # Student 1
                     [1, 1, 1, 1, 1], # Student 2
                     [2, 2, 2, 2,2]] # Student 3
             


for i, computer in enumerate(clf.predict(student_test_data)):
    print "Predicted type of student {}'s computer: {}".format(i+1, computer)

print " "

for i, actual in enumerate((test_target)):
    print "Actual type of student {}'s computer: {}".format(i+1, actual)

Predicted type of student 1's computer: mac
Predicted type of student 2's computer: mac
Predicted type of student 3's computer: mac

Actual type of student 1's computer: mac